@import 'styles/colorPalette';

a {
  all: unset;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin inputFamily {
  width: 258px;
  padding: 9px 2px;
  border: 1px solid $moregray;
  border-radius: 4px;
  background-color: $lightgray;
  text-align: left;
}

.login-container {
  background-color: $lightgray;
  height: 100vh;
  @include center;

  .login-box {
    background-color: $white;
    border: 1px solid $moregray;
    width: 350px;
    text-align: center;

    img {
      width: 175px;
      margin-bottom: 30px;
    }
  }

  .upper {
    padding: 60px 0px;
  }

  .down {
    margin-top: 10px;
    padding: 20px 60px;
    color: $moregray;
    font-size: 14px;
    font-weight: 900;

    cursor: pointer;

    p span {
      color: $buttonBlue;
    }
  }

  .login-input-box {
    display: inline-block;

    input {
      @include inputFamily;
      margin-bottom: 6px;
      &::placeholder {
        font-size: 14px;
      }
    }

    button {
      @include inputFamily;
      border: 1px solid transparent;
      margin-top: 10px;
      background-color: $deepblue;
      color: $white;
      font-weight: 900;
      text-align: center;

      cursor: pointer;

      &.active {
        background-color: $buttonBlue;
      }
    }
  }
}

.login__notice {
  max-width: 258px;
  margin: 0 auto;
  margin-top: 20px;

  &__p {
    font-size: 14px;
    color: $darkgray;
  }

  .bold {
    font-weight: 900;
  }
}

// .blue-highlight {
//   color: $buttonBlue;
// }

// .input-pw {
//   font-size: 16px;
// }

// .moving {
//   font-size: 12px;
//   padding: 14px 0 2px 8px !important;
// }
