@import 'styles/colorPalette';

.main {
  &__container {
    background-color: $lightgray;
    text-align: -webkit-center;
  }
  &__inner {
    display: flex;
    max-width: 939px;
    justify-content: center;
  }
  &__right {
    width: 325px;
    margin-top: 27px;
    margin-left: 20px;

    &__guard {
      max-width: 293px;
      position: absolute;
      right: 0;
      width: 100%;
    }
  }
}
