@import 'styles/colorPalette';

.profile-container {
  display: flex;
  justify-content: space-between;
  //\\justify-content: center; //이렇게 해야 스토리 중앙정렬 됨

  .profile-left {
    display: flex;
  }

  .profile-right {
    align-self: center;

    .profile-btn {
      font-size: 12px;
      font-weight: bold;

      color: $buttonBlue;
    }
  }
  .pf-img-container {
    width: 50px;
    margin-top: 4px;
  }
  .pf-font-container {
    align-self: center;
    margin-left: 15px;
    text-align: left;

    .profile-id {
      color: $black;
      font-size: 14px;
      font-weight: 700;
    }
    .profile-desc {
      font-size: 14px;
      margin-top: 3px;
      color: $darkgray;
    }
  }
}

.nav-pf-container {
  display: inline-block;
  margin-left: 15px;
}

.profile-img {
  height: 100%;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
