@import 'styles/colorPalette';

.profile {
  display: flex;
  justify-content: space-between;
  //\\justify-content: center; //이렇게 해야 스토리 중앙정렬 됨

  &__left {
    display: flex;
  }

  &__right {
    align-self: center;
  }

  &__btn {
    font-size: 12px;
    font-weight: bold;
    color: $buttonBlue;
  }

  &__img__container {
    width: 50px;
    margin-top: 4px;
  }
  &__font__container {
    align-self: center;
    margin-left: 15px;
    text-align: left;
  }

  &__nickname {
    color: $black;
    font-size: 14px;
    font-weight: 700;
  }
  &__desc {
    font-size: 14px;
    margin-top: 3px;
    color: $darkgray;
  }

  &__img {
    height: 100%;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
  }
}

// wrapper 컴포넌트에서 Profile을 감싸는 div
.nav__pf__container {
  display: inline-block;
  margin-left: 15px;
}
