@import 'styles/colorPalette';

.layout {
  border: 1px solid $moregray;
  border-radius: 4px;
  width: 600px;
  margin-bottom: 50px;

  background-color: $white;

  section {
    text-align: left;
  }
}
