@import 'styles/colorPalette';

.comment__input {
  text-align: left;
  font-size: 14px;
  border-top: 1px solid $moregray;

  &__wrapper {
    display: flex;
    input {
      all: unset;
      // width: 280px;
      padding: 15px 10px;
    }
    button {
      all: unset;
    }
  }
  &__btn {
    span {
      color: $buttonBlue;
      font-weight: 900;
    }
    &__deactive {
      opacity: 0.3;
    }

    &__active {
      opacity: 1;
      cursor: pointer;
      font-weight: 600;
    }
  }
}
