@import 'styles/colorPalette';

.navbar-container {
  position: fixed;
  width: 100%;
  height: 54px;
  text-align: -webkit-center;

  border-bottom: 1px solid $moregray;
  background-color: $white;
  z-index: 10;

  .navbar-inner {
    display: flex;
    max-width: 939px;
    justify-content: space-between;
  }

  .nav-left {
    display: flex;
    margin-top: 11px;

    cursor: pointer;

    .nav-left-words {
      width: 103px;
      height: 29px;
    }
  }
  .nav-mid {
    .nav-input {
      margin-top: 15px;
      padding: 4px 28px;

      border: 1px solid $moregray;
      background-color: $lightgray;
    }
    .input-img-container {
      .search-icon {
        position: absolute;
        width: 10px;
      }
    }
    .search-word {
      font-size: 12px;
      margin-left: 22px;
      color: $moregray;
    }
  }
  .nav-right {
    cursor: pointer;

    .nav-icons {
      width: 25px;
      height: 25px;
      margin-top: 15px;
      margin-left: 22px;

      // padding: 15px;
    }
  }
}

.nav-mid-box {
  display: flex;
  position: absolute;
  top: 21px;
  margin-left: 80px;
}

.navbar-guard {
  width: 0;
  height: 54px;
}
