$lightgray: #fafafa;
$moregray: #dbdbdb;
$deepgray: #8e8e8e;
$white: #fff;
$buttonBlue: #0095f6;
$black: #262626;

.recommend-container {
  border-radius: 4px;
  height: 269px;
  overflow: hidden;

  .recommend-words-container {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: bold;
    color: $deepgray;
    padding: 12px;
    font-weight: 600;

    .recommend-right {
      color: $black;
    }
  }
}

.story-pf-container {
  padding: 10px;
  width: 132px;
}
