@import 'styles/colorPalette';

.modal__detail {
  display: flex;
  width: 935px;
  background-color: $white;
  box-shadow: 0 0 5px 1px rgba(var(--jb7, 0, 0, 0), 0.0975);

  &__right {
    width: 335px;
  }
}
