@import 'styles/colorPalette';

.mypage-container {
  max-width: 939px;
  margin: 0 auto;
}

.mypage-top-container {
  margin: 20px 0;

  .mypage-top-upper {
    display: flex;

    .mypage-pf-container {
      width: 291px;
      margin-left: 40px;
    }
  }

  .mypage-top-lower {
  }
}

.mypage-profile-box {
  width: 613px;
  margin-top: 16px;
  font-size: 28px;

  .my-pf-username {
    display: flex;
    > button {
      all: unset;
      margin-left: 19px;

      cursor: pointer;

      > span {
        border: 1px solid $moregray;
        border-radius: 4px;
        color: $black;
        padding: 5px 9px;
        font-size: 14px;
        font-weight: 600;

        // &:hover {
        //   color: $buttonBlue;
        //   font-weight: 900;
        //   opacity: 0.7;
        // }
      }
    }
  }
  .my-pf-follows {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

    .my-pf-flex-wrapper {
      // display: flex;
      font-size: 16px;

      .my-pf-flex-title {
        margin-right: 40px;
      }

      .my-pf-flex-nums {
        font-weight: 900;
      }
    }
  }
  .my-pf-desc-wrapper {
    display: flex;
    flex-direction: column;
    color: $black;
    font-size: 16px;

    .username {
      font-weight: 900;
      margin-bottom: 5px;
    }
  }
}

.mypage-feed-property-container {
  margin-bottom: 15px;
}

.mypage-feed-container {
  .my-card-wrapper {
    display: flex;
    flex-flow: wrap;
  }

  .my-img-card {
    width: 293px;
    height: 293px;
    position: relative;
    margin-right: 28px;
    margin-bottom: 28px;
    background-size: cover;
    background-position: center;
    color: #fff;
    cursor: pointer;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:hover .overlay {
      opacity: 1;
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    // transition: 0.5s ease;
    background-color: $shadow;
  }
  .overlay-flex {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 50%;

    > li {
      margin-right: 30px;
      font-weight: 900;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

footer {
  display: flex;
  text-align: center;

  > span {
    margin-right: 20px;
    color: $darkgray;
    font-size: 14px;
    font-weight: 400;
  }
}

.ut-container {
  input,
  button {
    all: unset;
    cursor: pointer;
  }

  button {
    border: 1px solid $moregray;
    border-radius: 4px;
    padding: 5px 10px;
  }

  .ut-wrapper {
    text-align: center;
    margin-top: 30px;

    .ut-img-preview {
      width: 400px;
      height: 400px;
      background-size: cover;
      background-position: center;
    }

    .ut-input-area {
      width: 100%;
      height: 150px;
      border: 1px solid $deepgray;
      border-radius: 4px;
      padding: 10px 10px;
      text-align: left;
      resize: none;

      &::placeholder {
        font-size: 16px;
      }
    }
    .ut-img-preview {
    }
  }
}

.delete-x {
  float: right;
  margin-top: 8px;
  margin-right: 8px;
  font-size: 18px;
  font-weight: 900;

  &:hover {
    color: $black;
  }
}
