@import 'styles/colorPalette';

.mypage__container {
  max-width: 969px;
  margin: 0 auto;
  &__top {
    margin: 20px 0;
  }
  &__upper {
    display: flex;
  }
  &__pf__container {
    width: 291px;
    margin-left: 40px;
  }
}

.mypage__profile {
  width: 613px;
  margin-top: 16px;
  font-size: 28px;

  &__username {
    margin-top: 3px;
    &__wrapper {
      display: flex;
    }
  }
  &__btn {
    &__shell {
      all: unset;
      margin-left: 19px;

      cursor: pointer;
      span {
        border-radius: 4px;
        font-size: 14px;
        font-weight: 600;
      }
    }
    &__white {
      padding: 5px 9px;
      color: $black;
      border: 1px solid $moregray;
    }
    &__blue {
      color: $white;
      background-color: $buttonBlue;
      padding: 5px 25px;
    }
  }

  &__follows {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &__flex {
    font-size: 16px;
    &__title {
      margin-right: 40px;
    }
    &__nums {
      font-weight: 900;
      margin-left: 5px;
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    color: $black;
    font-size: 16px;
  }

  .username {
    font-weight: 900;
    margin-bottom: 5px;
  }
}

footer {
  display: flex;
  text-align: center;

  > span {
    margin-right: 20px;
    color: $darkgray;
    font-size: 14px;
    font-weight: 400;
  }
}
