$lightgray: #fafafa;
$moregray: #dbdbdb;
$white: #fff;
$buttonBlue: #0095f6;
$black: #262626;

.live-story-container {
  display: flex;
  width: 600px;
  margin-top: 27px;
  margin-bottom: 27px;
  padding: 18px 10px;

  border: solid 1px $moregray;
  background-color: $white;

  overflow: hidden;

  .live-story-wrapper {
    width: 80px;

    span {
      display: inline-block;
      margin-top: 5px;
      width: 69px;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      color: $black;
    }
  }
}
